@charset "UTF-8";

.logwrap {
  width: 700px;
  height: 720px;
  margin: 80px auto;
}



.logwrap img{
	width: 135px;
	height: 135px;
	margin: 30px 0 30px 280px;
	cursor: pointer;
}

.loginput input{
	width: 470px;
	height: 55px;
	margin: 15px 0 0 115px;
}

.logwrap div:nth-child(3){
	width: 67%;
	display: flex;
	justify-content: space-between;
	font-size: 18px;	
	margin: 5px 0 15px 115px;
}

.logwrap div:nth-child(3) > span input{
	display: inline-block; /* 컨테이너를 인라인 블록으로 표시하여 크기를 조절할 수 있게 합니다. */
    width: 17px; /* 원하는 가로 크기 */
    height: 17px;
}

.logbox button{
	width: 470px;
	height: 55px;
	margin: 15px 0 0 115px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 500;
	border: 1px solid gray;
}

.fmos{
	background-color: rgb(255, 30, 50);
}

.naverbt{
	background-color: rgb(50, 235, 50);
}

.googlebt{
	background-color: rgb(250, 250, 250);
}

.kakaobt{
	background-color: rgb(230, 230, 0);
}










