@charset "utf-8";

.movie_chart_wrap {
	margin-top: 30px;
	width: 100%;
}

.movie_chart_wrap h3 {
	font-size: 20px;
	color: red;
	white-space: nowrap;/* 텍스트가 줄 바꿈되지 않도록 설정 */
	overflow: hidden;/* 넘치는 부분을 감추기 */
	text-overflow: ellipsis;/* 넘치는 부분에 ... 추가 */
	max-width: 210px;
}
.movie_chart_wrap .submenu {
	font-size: 25px;
	width: 100%;
	margin-top: 30px;
	border-bottom: 2px solid black;
	position: relative;
}


.movie_chart_wrap .submenu ul {
	width: 400px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.movie_chart_wrap h3{
	font-size: 30px;
	font-weight: bold;
}
.insert_bt{
	font-size: 20px;
	position: absolute;	
	right: 0;
}

.movie_chart {
	width: 100%;
	padding-top: 5%;
}

.movie_list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.movie_item {
	margin:5% 3%; 
	}
.movie_rank{
	background-color: orangered;
	color: white;
	text-align: center;
	font-size: 20px;
}
.movie_img{
	width: 100%;
	height: 300px;
	position: relative;
}
.rank_box{
	width: 100%;
}
.rank_box ul li{
	text-align: center;
	font-size: 15px;
}
.movie_img img{
	 width: 100%;
	 height: 100%;
	 position: relative;
}
.click_btn{
	width: 80%;
	height: 30px;
	z-index: 2;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.click_btn button{
	width: 100%;
	height: 50px;
	margin: 8% 0;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	display: none;
	cursor: pointer;
}
.click_btn button:hover{
	background: rgba(240, 228, 228, 0.8);
	transition: 1s;	
}