@charset "utf-8";

.theater_wrap{
    width: 100%;
}
.theater_wrap h2{
    font-size: 40px;
    font-weight: bold;
    color: #22A2F2;
    padding: 1% 0;
}
.theater_box{
    border: 5px solid #000;
    border-radius: 10px;
}
.theater_btn{
    display: flex;
    justify-content: space-between;
}
.theater_btn li{
    width: 15%;
    border: 1px solid #000;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.theater_cont{
    display: flex;
    
}
.theater_cont li{
    width: 100px;
    font-size: 20px;
    text-align: center;
}




/*상영관 정보*/

.screenlist_wrap{
	display: flex;
	flex-direction: column;
	padding: 1%;
}
.screenlist{
    font-size: 15px;
    padding: 1%;
    margin-bottom: 5%;
    border-bottom: 10px solid black;
}
.movie_name{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1%;
	cursor: pointer;
}
.movie_name span{
	font-size: 15px;
	margin-left: 2%;
}





