@charset "utf-8";

#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

#contents.no-padding {
    padding-top: 0;
}

#contents.location-fixed {
    padding-top: 82px;
}

#contents.no-padding.location-fixed {
    padding-top: 42px;
}

* {
    box-sizing: border-box;
}

.inner-wrap {
    width: 100%;
    margin: 0 auto;
}

h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3.tit {
   display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}
.sel-city{
		font-size: 15px;
		font-weight: bold;
}
.theater-box {
    position: relative;
    display: block;
    width: 100%;
    min-height: 190px;
    border: 3px solid #686571;
    border-radius: 10px;
    font-size: 15px;
}

element.style {
    height: 396px;
}

.theater-box .theater-place {
    width: 100%;
    height: 48px;
    display: flex;
}

.theater-box .theater-place ul { /*지점 리스트*/
    width: 100%;
    display: flex;
}

.theater-box .theater-place>ul>li {
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px 1px 0;
    text-align: center;
    box-sizing: border-box;
}

.theater-box .theater-place>ul>li.on {
    background: #555;
    border: 1px solid #555;
}

button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.theater-box .theater-place>ul>li>button {
    display: block;
    width: 100%;
    height: 48px;
    background: 0 0;
    border: none;
}

.theater-box .theater-place>ul>li.on>button {
    color: #fff;
}

.theater-box .theater-list {
    display: none;
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    min-height: 85px;
    padding: 30px 0;
}

.theater-box .theater-place>ul>li.on .theater-list {
    display: block;
}

.theater-box .theater-list ul {
    overflow: hidden;
    width: 100%;
}

.theater-box .theater-list ul li {
    position: relative;
    float: left;
    width: 25%;
    line-height: 26px;
    text-align: left;
    padding-left: 40px;
}

/*롯데시네마 시작*/
.tab_wrap {
    position: relative;
}

.tab_wrap.outer {
    padding-top: 50px;
}

button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

body, input, button, select, textarea {
    font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
    font-size: 12px;
    color: #000;
}

input, select, button {
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    border: 1px solid #DDD;
    cursor: pointer;
    background-color: #fff;
}

.tab_wrap > li > .tab_tit {
    position: absolute;
    top: 0;
}

.tab_wrap > li > .tab_tit {
    border: none;
}

.tab_wrap > li > .tab_tit span {
    vertical-align: top;
    white-space: nowrap;
}
.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
}

.tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 2px solid #111;
    color: #000;
}
.area__movingbar .tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 0;
}

.tab_wrap > li > .tab_con.ty5 {
    margin-top: -30px;
}

.tab_wrap > li.active > .tab_con {
    overflow: inherit;
    position: relative;
    width: auto;
    height: auto;
}
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.owl-carousel {
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.date_select_wrap {
    /* overflow: hidden; */
    height: 75px;
    margin: 22px 20px 10px;
}

.slide_wrap {
    position: relative;
}

.owl-carousel {
    position: relative;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel.owl-loaded {
    display: block;
}


.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}



element.style {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 941px;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    position: relative;
    float: left;
    display: block;
    min-height: 1px;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date_select_wrap .month {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.date_select_wrap .date label {
    display: block;
    cursor: pointer;
}

a, a:link, a:visited, a:active, a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.date_select_wrap .date {
    display: block;
    position: relative;
    padding-top: 30px;
}

.slide_wrap .owl-carousel .owl-stage-outer .item > a {
    display: block;
}

.owl-carousel .owl-dots, .owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.date_select_wrap .date label input[type="radio"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}
.date_select_wrap .date label strong {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    font-family: 'Roboto';
    font-size: 15px;
    text-align: center;
}

.date_select_wrap .date label em {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}


